.container-text {
  block-size: 300px;
  margin-block-end: 30px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 10px 5px rgba(57, 116, 205, 0.5);
  max-inline-size: 750px;
  position: relative;
  font-size: 23px;
}

.capsLock {
  background: #183153;
  inline-size: 30%;
  block-size: 60px;
  margin: auto;
  border-radius: 5px;
  color: #eff9ff;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin-block-end: 30px;
  border: thin solid #368fe9;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.mostrar {
  visibility: visible;
}

.barra {
  inline-size: 3px;
  block-size: 25px;
  background-color: #368fe9;
  position: absolute;
  inset-block-start: 11px;
  inset-inline-start: 10px;
  border-radius: 5px;
  animation: .8s;
  animation-name: animacion;
  animation-iteration-count: infinite;
  transition: inset-inline-start .1s ease;
}

@keyframes animacion {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
