@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Inter:wght@500;700&family=Roboto+Mono:wght@100&family=Roboto+Slab:wght@400;900&display=swap");

.container-text {
  font-family: "IBM Plex Sans", sans-serif;
  margin-block-end: 30px;
  border-radius: 5px;
  max-inline-size: 1200px;
  position: relative;
  font-size: 23px;
  color: #646669;
  font-weight: 700;
}

.capsLock {
  background: #464646;
  inline-size: 10%;
  block-size: 60px;
  margin: auto;
  border-radius: 5px;
  color: #eff9ff;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin-block-end: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.mostrar {
  visibility: visible;
}

.barra {
  inline-size: 3px;
  block-size: 25px;
  background-color: #ffffff;
  position: absolute;
  inset-block-start: 4px;
  border-radius: 5px;
  animation: 0.8s;
  animation-name: animacion;
  animation-iteration-count: infinite;
  transition: inset-inline-start 0.1s ease;
}

@keyframes animacion {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
