@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Roboto+Mono:wght@100&family=Roboto+Slab:wght@400;900&display=swap");

.keyboard-container,
#Space,
#Backspace,
#Enter,
#Tab,
#CapsLock,
#ShiftLeft,
#ShiftRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  inline-size: 850px;
  gap: 8px;
  background-color: #989898;
  padding: 10px;
  border-radius: 10px;
}

.tecla {
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  min-inline-size: 55px;
  block-size: 55px;
  background-color: #646669;
  color: black;
}

.keyboard section {
  display: flex;
  gap: 8px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.keyboard > section:last-child {
  & > div {
    inline-size: 50%;
    margin: auto;
  }
}

.green {
  background: green;
}

#ShiftLeft,
#Backspace,
#Tab {
  flex: 1;
}

#CapsLock,
#Enter {
  flex: 1;
}

#Tab {
  inline-size: 65px;
}

.presionar {
  background-color: #dcdcdc;
  outline: thick solid #292929;
}

.teclas-numericas {
  justify-content: space-around;
}

/***ICONS**/
.fa-delete-left,
#Enter,
#Tab,
#CapsLock,
#ShiftLeft,
#ShiftRight {
  font-size: 20px;
}

.fa-right-long::after {
  content: "";
  inline-size: 6px;
  block-size: 20px;
  background-color: black;
  position: absolute;
  border-radius: 5px;
}

.btn-space {
  inline-size: 20%;
  block-size: 20%;
  background-color: black;
  border-radius: 5px;
}
